<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>projet</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>authentification</display-name>
    <servlet-name>authentification</servlet-name>
    <servlet-class>Servlet.authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentification</servlet-name>
    <url-pattern>/authentification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserList</display-name>
    <servlet-name>UserList</servlet-name>
    <servlet-class>Servlet.UserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/UserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionProjetServlet</display-name>
    <servlet-name>GestionProjetServlet</servlet-name>
    <servlet-class>Servlet.GestionProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionProjetServlet</servlet-name>
    <url-pattern>/GestionProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsulterProjetServlet</display-name>
    <servlet-name>ConsulterProjetServlet</servlet-name>
    <servlet-class>Servlet.ConsulterProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterProjetServlet</servlet-name>
    <url-pattern>/ConsulterProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeProjetsServlet</display-name>
    <servlet-name>ListeProjetsServlet</servlet-name>
    <servlet-class>Servlet.ListeProjetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeProjetsServlet</servlet-name>
    <url-pattern>/ListeProjetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>Servlet.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProject</display-name>
    <servlet-name>SearchProject</servlet-name>
    <servlet-class>Servlet.SearchProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProject</servlet-name>
    <url-pattern>/SearchProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionmodificationServlet</display-name>
    <servlet-name>GestionmodificationServlet</servlet-name>
    <servlet-class>Servlet.GestionmodificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionmodificationServlet</servlet-name>
    <url-pattern>/GestionmodificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>Servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesProjetServlets</display-name>
    <servlet-name>MesProjetServlets</servlet-name>
    <servlet-class>Servlet.MesProjetServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesProjetServlets</servlet-name>
    <url-pattern>/MesProjetServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterCompetence</display-name>
    <servlet-name>AjouterCompetence</servlet-name>
    <servlet-class>Servlet.AjouterCompetence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterCompetence</servlet-name>
    <url-pattern>/AjouterCompetence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesTacheServlets</display-name>
    <servlet-name>MesTacheServlets</servlet-name>
    <servlet-class>Servlet.MesTacheServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesTacheServlets</servlet-name>
    <url-pattern>/MesTacheServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherTache</display-name>
    <servlet-name>AfficherTache</servlet-name>
    <servlet-class>Servlet.AfficherTache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherTache</servlet-name>
    <url-pattern>/AfficherTache</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificationTache</display-name>
    <servlet-name>ModificationTache</servlet-name>
    <servlet-class>Servlet.ModificationTache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationTache</servlet-name>
    <url-pattern>/ModificationTache</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraitementAvancementServlet</display-name>
    <servlet-name>TraitementAvancementServlet</servlet-name>
    <servlet-class>Servlet.TraitementAvancementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraitementAvancementServlet</servlet-name>
    <url-pattern>/TraitementAvancementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheprojetChef</display-name>
    <servlet-name>RechercheprojetChef</servlet-name>
    <servlet-class>Servlet.RechercheprojetChef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheprojetChef</servlet-name>
    <url-pattern>/RechercheprojetChef</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifieProjet</display-name>
    <servlet-name>ModifieProjet</servlet-name>
    <servlet-class>Servlet.ModifieProjet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifieProjet</servlet-name>
    <url-pattern>/ModifieProjet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffecterDevlopeur</display-name>
    <servlet-name>AffecterDevlopeur</servlet-name>
    <servlet-class>Servlet.AffecterDevlopeur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffecterDevlopeur</servlet-name>
    <url-pattern>/AffecterDevlopeur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffecterServiceChef</display-name>
    <servlet-name>AffecterServiceChef</servlet-name>
    <servlet-class>Servlet.AffecterServiceChef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffecterServiceChef</servlet-name>
    <url-pattern>/AffecterServiceChef</url-pattern>
  </servlet-mapping>
</web-app>